* {
    box-sizing: border-box;
}

body {
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: rgb(232, 242, 248); */
    background-color: rgb(240, 240, 240);
}

.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    width: 100%;
}

#nav-bar {
    width: 100%;
    background-color: white;
    border-bottom: solid lightgray 1px;
    padding: 20px;
    margin-bottom: 0;
}

.nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-gap: 5em;
    align-items: center;
    text-align: center;
    padding-right: 10px;
}

.nav h1 {
    grid-column: 1 / 3;
    font-size: 28px;
}

h1 {
    display: inline-block;
}

.nav-button {
    border: none;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all .5s;
    height: 50%;
}

.nav-button:focus {
    outline-width: 0;
}

.nav-button:hover {
    transform: scale(1.3);
}

#stuff {
    width: 100%;
    background-color: white;
    height: auto;
    margin-top: 0;
    padding: 20px;
    padding-top: 100px;
}

.aboutMeGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 3em;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 100px;
}

.aboutMeImage {
    width: 100%;
    height: 100%;
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}

.aboutHeader {
    width: 100%;
    height: 100%;
    grid-column: 5 / 9;
    grid-row: 1 / 2;
}

.aboutInfo {
    grid-column: 5 / 9;
    grid-row: 3 / 4;
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
}

.qualificationsGrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 50px);
    grid-gap: 3em;
    align-items: center;
    text-align: center;
    padding-right: 10px;
    border-bottom: lightgrey 1px solid;
    margin-bottom: 50px;
}

.aboutQualificationsHeader {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    font-size: 20px;
}

.aboutQualificationCPA {
    grid-column: 1 / 5;
    grid-row: 2 / 4;
}

.aboutQualificationCollege {
    grid-column: 5 / 9;
    grid-row: 2 / 4;
}

.contactGrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 50px);
    grid-gap: 3em;
    align-items: center;
    text-align: center;
    padding-right: 10px;
}

.contactHeader {
    grid-column: 3 / 7;
    grid-row: 1 / 2;
}

.contactInfo {
    grid-column: 2 / 8;
    grid-row: 2 / 3;
    font-size: 18px;
    padding: 10px;
    line-height: 1.6;
    text-align: left;
}

.contactForm {
    grid-row: 4 / 8;
    grid-column: 3 / 7;
    text-align: center;
    border: solid lightgrey 1px;
    height: 100%;
    width: 100%;
    padding: 10px;
    display: block;
}

.contactForm input, .contactForm button, .contactForm select {
    display: block;
    text-align: left;
    margin: 15px;
    padding: 5px;
}

.contactForm input {
    width: 90%;
}

.contactSubmit {
    border: none;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all .5s;
    border: solid 1px lightgrey;
    text-align: center;
}

.contactSubmit:hover {
    background-color: rgb(124, 124, 124);
    color: white;
}

.contactGrid h4 {
    grid-column: 1 / 9;
    grid-row: 9 / 10;
}


.contactPhoneImg {
    grid-column: 3 / 4;
    grid-row: 10 / 12;
}

.contactEmailImg {
    grid-column: 6 / 7;
    grid-row: 10 / 12;
}

.emailImg {
    max-height: 120%;
    width: 120%;
}

.phoneImg {
    max-height: 80%;
    width: 80%;
}

.contactPhone {
    grid-column: 2 / 5;
    grid-row: 11 / 13;
}

.contactEmail {
    grid-column: 5 / 8;
    grid-row: 11 / 13;
    text-align: center;
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 50px);
    grid-gap: 3em;
    align-items: center;
    text-align: center;
    padding-right: 10px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 100px;
}

.productsHeader {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    font-size: 20px;
}

.productsPersonal {
    grid-column: 1 / 5;
    grid-row: 2 / 4;
}

.productsBusiness {
    grid-column: 5 / 9;
    grid-row: 2 / 4;
}

a {
    text-decoration: none;
    color: black;
}

#contactServicesGrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 100px);
    margin-bottom: 100px;
    text-align: center;
}

.servicesButton {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    text-decoration: underline;
}

.contactButton {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
    text-decoration: underline;
}

.contactButton2 {
    grid-row: 2 / 3;
    grid-column: 4 / 6;
    text-align: center;
    text-decoration: underline;
}

.banner {
    grid-row: 1 / 2;
    grid-column: 1 / 9;
}
/* 
#stuf {
    width: 100%;
    background-color: white;
    height: auto;
    margin-top: 0;
    padding: 20px;
    padding-top: 100px;
} */

.curOn {
    border: none;
    background-color: rgb(236, 236, 236);
    font-size: 20px;
    height: 50%;
}

.curOn:focus {
    outline-width: 0;
}
